# Build Outputs
bin/
obj/

# IDE Files
.idea/
.vs/
*.user
*.suo
*.sln.DotSettings.user

# Verify Test Files
*.received.*

# Test and Coverage Reports
TestResults/
CoverageReport/

# OS Files
.DS_Store
Thumbs.db

# Package Management
packages/
.nuget/